@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Bold.eot');
    src: local('../font/Ubuntu Bold'), local('Ubuntu-Bold'),
        url('../font/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Ubuntu-Bold.woff2') format('woff2'),
        url('../font/Ubuntu-Bold.woff') format('woff'),
        url('../font/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}





@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Bold.eot');
    src: local('../font/Ubuntu Light'), local('Ubuntu-Light'),
        url('../font/Ubuntu-Bold.eot') format('embedded-opentype'),
        url('../font/Ubuntu-Bold.eot') format('woff2'),
        url('../font/Ubuntu-Bold.eot') format('woff'),
        url('../font/Ubuntu-Bold.eot') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}






@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Regular.eot');
    src: local('../font/Ubuntu Regular'), local('Ubuntu-Regular'),
        url('../font/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Ubuntu-Regular.woff2') format('woff2'),
        url('../font/Ubuntu-Regular.woff') format('woff'),
        url('../font/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{scrollbar-color: inherit !important;}
body{
	font-family: 'Ubuntu' !important;overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{font-weight:bold !important;}
p {font-weight:401 !important}
.main-1 .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-header {
	/* display: flex; */
	width: 100%;
	display: contents;
}
.navbar.navbar-expand-md.bg-dark.navbar-dark {
	background: transparent !important;
	width: 100%;
}
header {
	background: #224189;
	width: 100%;
	margin-top: 20px;
}
.main-1 {
	width: 100%;
	margin-top: 10px;
}
.col-md-3.logo img {
	width: 80%;
}
.col-sm-2.contact-1 li {
	list-style: none;
	font-size: 13px;
    padding-left: 25px;
    
}
.col-sm-2.contact-2 li {
	font-size: 13px;
	list-style: none;
    padding-left: 25px;
}
.col-sm-3.contact-3 li {
	list-style: none;
	font-size: 13px;
    padding-left: 15px;
}
.col-sm-2.contact-4 li {
	list-style: none;
	font-size: 13px;
    padding-left: 20px;
}
.col-sm-2.contact-1 li a{
    text-decoration: none;
    color: #666666;
}
.col-sm-2.contact-2 li a{
    text-decoration: none;
    color: #666666;
}
.col-sm-3.contact-3 li a{
    text-decoration: none;
    color: #666666;
}
.col-sm-2.contact-4 li a{
    text-decoration: none;
    color: #666666;
}

.col-sm-2.contact-1 h6 {
	padding-left: 25px;
    margin: 0;
    position: relative;
    font-size: 19px !important;
    color: #222222;
	font-weight: 401 !important;
}
.col-sm-2.contact-1 h6::before {
	position: absolute;
	content: "\f0e0";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	left: -15px;
	top: 3px;
	font-size: 30px;
    color: #ea0a2a;
}



.col-sm-2.contact-2 h6 {
	padding-left: 25px;
    margin: 0;
    position: relative;
    font-size: 19px !important;
    color: #222222;
	font-weight: 401 !important ;
}
.col-sm-2.contact-2 h6::before {
	position: absolute;
	content: "\f095";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	left: -15px;
	top: 3px;
	font-size: 30px;
    color: #ea0a2a;
}
.col-sm-3.contact-3 h6 {
	padding-left: 15px;
    margin: 0;
    position: relative;
    font-size: 19px !important;
    color: #222222;
	font-weight: 401 !important;
}
.col-sm-3.contact-3 h6::before {
	position: absolute;
	content: "\f3c5";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	left: -15px;
	top: 3px;
	font-size: 30px;
    color: #ea0a2a;
}
.col-sm-2.contact-4 h6 {
	padding-left: 20px;
    margin: 0;
    position: relative;
    font-size: 19px !important;
    color: #222222;
	font-weight: 401 !important;
}
.col-sm-2.contact-4 h6::before {
	position: absolute;
	content: "\f017";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	left: -15px;
	top: 3px;
	font-size: 30px;
    color: #ea0a2a;
}
.nav {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding-left: 0;
    margin-top: 17px;
}
.nav-2 {
	display: flex;
    margin-top: 17px;
    justify-content: right;
}
.nav-2 li {
	list-style: none;
	padding: 0 15px;
	position: relative;
}
.nav-2 li::before {
	border-left: 1px solid white;
	position: absolute;
	content: "";
	height: 20px;
	left: 0;
}
.nav-2 li a{
    color: white;
    font-size: 14px;
}
.nav-2 li a:hover{
    text-decoration: none;
}
ul .sub-nav ul {
    display: none;
   }   


.nav ul { 
    position: relative;
}

.nav li:hover ul li {
	padding: 6px 6px;
    background: #224189;
}
.nav li:hover ul {
	display: block;
	padding: 0 10px;
	list-style: none;
	height: 150px;
	margin-top: 1px;
	padding-left: 0px;
	width: 113px;
}
ul.sub-nav {
	display: none;
    margin-top: 0;
    position: absolute;
}
.nav li a:hover {
	text-decoration: none;
   
   
	}
ul.sub-nav li a:hover {
    color: orange;
 background:transparent;


}
ul.sub-nav li a{
    color: white;
    font-size: 14px;
}
.nav li a{
    color: white;
    font-size: 15px
}

.main-2 {
	background: #224189;
    width: 100%;
    line-height: 15px;
    margin-top: 10px;
}
ul.nav li a {
	padding: 17px 10px 16px 10px;
}
.nav-2 .fab.fa-facebook {
	color: white;

}
.nav-2 .fab.fa-twitter {
	color: #222222;
	padding: 0 3px;
}
.nav-2 .fab.fa-instagram-square {
	color: #222222;
	padding: 0 3px;
}
.nav-2 .fab.fa-pinterest-square {
	color: white;
	padding: 0 3px;
}
.nav-2 .fab.fa-skype {
	color: white;
	padding: 0 3px;
}
.nav-2 .fas.fa-user-alt {
	color: #222222;
	padding: 0 3px;
}



.banner {
	width: 100%;
    background-image: url(../images/banner1.png);
    height: 645px;
    background-repeat: no-repeat;
	background-position:center;
}
.col-md-8.center img {
	width: 100%;
	
}
.banner-inner .row {
	display: flex;
	justify-content: end;
}
.nav-2 li a {
	color: #222222;
}

.col-md-6.left {
	margin-top: 175px;
}
.col-md-6.right {
	position: relative;
}
.col-md-8.center {
	position: absolute;
	top: 462px;
	padding-left: 110px;
}
.col-md-6.left h1 {
	font-size: 61px;
	color: white;
}
.col-md-6.left p {
	color: white;
	font-size: 16px;
}
.frist {
	font-size: 13px;
	padding: 10px 15px;
	border: none;
	border-radius: 3px;
	background: #ea0a2a;
	color: white;
	margin-top: 15px;
	outline: none !important;
}
.main-3 .row {
	display: flex;
	text-align: center;
	justify-content: center;
}
.main-3 {
	width: 100%;
	margin-top: 115px;
}
.col-md-8.eco h5 span {
	color: #ea0a2a;
}
.col-md-8.eco h5 {
	color: #224189;
	font-weight: 501;
	font-size: 23px;

}
.col-md-8.eco {
	line-height: 25px;
}
.col-md-8.eco p {
	color: #636363;
}
.col-md-8.read i {
	font-size: 25px;
	color: #ea0a2a;
}
.col-md-8.read h6 {
	font-size: 14px;
	font-weight: 401;
	color: #000000;
}
.col-md-8.read {
	margin-top: 20px;
}
.col-md-4.detail img {
	width: 100%;
}
.main-4 {
	margin-top: 30px;
}
.main-5{
	width: 100%;
	background-image: url(../images/slider-banner.PNG);
	padding-bottom: 60px;
	margin-top: 85px;
}

.main-5 .row {
	display: flex;
	justify-content: center;
	
}
.col-md-8.slid {
	text-align: center;
	padding-top: 70px;
}
.col-md-8.slid h1 {
	font-size: 36px;
	font-weight: 501;
	color: white;
}
.slick-slide img {
	width: 95%;
	border-radius: 8px;
}
.col-md-8.slid p {
	color: white;
	font-size: 17px;
}
.slick-next::before {
	content: '\f0da';
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	font-size: 70px;
	transform: translate(0, -50%);
	position: absolute;
	color: #ea0a2a;
}
.slick-prev::before {
	content: '\f0d9';
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	font-size: 70px;
	transform: translate(0, -50%);
	position: absolute;
	color: #224189;
	left: -35px;
}
.slick-inner {
	padding-left: 15px;
}
.main-6 {
	width: 100%;
	margin-top: 75px;
}
.slick-inner img {
	border-radius: 25px;
	height: 350px;
}
.col-md-10.activ {
	text-align: center;
}

.col-md-10.activ p {
	font-size: 18px;
	color: #636363;
}
.col-md-10.activ h1 {
	font-size: 36px;
	font-weight: 601;
	color: #224189;
}
ul.win {
	display: flex;
	justify-content: space-around;
	
}
ul.win li a{

font-weight: 501;
color: #000000;
}
ul.win li a:hover{
	position: relative;
	text-decoration: none;
	color: #ea0a2a;

}
ul.win li a:hover::after {
	position: absolute;
	content: "\f0dd";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	left: 45%;
	top: 10px;
	color: #ea0a2a;
}

.main-7 .row {
	display: flex;
	justify-content: center;
}
.main-7 {
	margin-top: 150px;
	width: 100%;
}
.plan {
	width: 24%;
}
.main-8 {
	width: 100%;
	margin-top: 35px;
}
.main-8 .row {
	display: flex;
	justify-content: space-between;
}


.plan-center {
	display: flex;
	background: #222222;
	height: 130px;
	padding-top: 35px;
	border-radius: 10px 10px 0 0;
}
.spacing {
	padding-left: 10px;
	width: 50%;
}
.plan-center .button {
	margin-top: 20px;
	padding-left: 25px;
	width: 50%;
	
}
.plan-center-1 .button {
	margin-top: 30px;
	padding-left: 25px;
	width: 50%;

}
.btn-plan {
	background: #ea0a29;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 13px;
	padding: 8px 12px;
	outline: none !important;
}


.plan-center h2 {
	font-size: 23px;
	color: white;
}
.spacing p {
	font-size: 9px;
	font-weight: bold;
	color: white;
}


.plan-center-1 {
	display: flex;
	background: white;
	height: 130px;
	padding-top: 35px;
	padding-top: 35px;
	border-radius: 0 0 10px 10px;
}
.plan-center h4 {
	color: white;
	font-size: 15px;
}
.plan-center-1 h2 {
	color: #ea0a2a;
	font-size: 15px;
}
.plan-center-1 h4 {
	color: #224189;
}
.plan-center-1 p {
	color: #222222;
}
.client {
	width: 100%;
}
.main-9 {
	width: 100%;
	margin-top: 110px;
}
.client h1 {
	text-align: center;
	color: #222222;
	font-size: 25px;
}
.col-md-6.map img {
	width: 100%;
	height: 550px;
	border-radius: 0 20px 0 0;
	object-fit: cover;
}
.col-md-6.area {
	padding-top: 70px;
}
.main-10 {
	width: 100%;
	margin-top: 70px;
}
.main-10 .container-fluid {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}
.navigation {
	margin-top: 20px;
}
.col-md-9.email {
	padding-left: 40px;
	position: relative;
}
.col-md-9.email::before {
	position: absolute;
	content: "\f0e0";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	left: 0;
	font-size: 30px;
	color: #ea0a2a;
}
.col-md-9.call {
	margin-top: 15px;
	padding-left: 40px;
	position: relative;
}
.col-md-9.call::before {
	position: absolute;
	content: "\f095";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	left: 0;
	font-size: 30px;
	color: #ea0a2a;
}
.col-md-9.king {
	margin-top: 15px;
	padding-left: 40px;
	position: relative;
}
.col-md-9.king::before {
	position: absolute;
	content: "\f3c5";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	left: 0;
	font-size: 30px;
	color: #ea0a2a;
}
.col-md-9.time {
	margin-top: 15px;
	padding-left: 40px;
	position: relative;
}
.col-md-9.time::before {
	position: absolute;
	content: "\f017";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	left: 0;
	font-size: 30px;
	color: #ea0a2a;
}
.col-md-9.time h6 {
	margin: 0;
	color: #222222;
	font-weight: 501;
}
.col-md-9.king h6 {
	margin: 0;
	color: #222222;
	font-weight: 501;
}
.col-md-9.call h6 {
	margin: 0;
	color: #222222;
	font-weight: 501;
}
.col-md-9.email h6 {
	margin: 0;
	color: #222222;
	font-weight: 501;
}
.col-md-6.area h1 {
	font-size: 36px;
	font-weight: 501;
	color: #224189;
}
.col-md-9.email a {
	color: #666666;
}
.col-md-9.call a {
	color: #666666;
}
.col-md-9.king a {
	color: #666666;
}
.col-md-9.time a {
	color: #666666;
}
.col-md-9.email a:hover {
	text-decoration: none;
}
.col-md-9.call a:hover {
	text-decoration: none;
}
.col-md-9.king a:hover {
	text-decoration: none;
}
.col-md-9.time a:hover {
	text-decoration: none;
}
.col-md-6.area p {
	color: #636363;
}


.main-11 {
	width: 100%;
	background-color: #222222;
	
}
.col-md-3 img {
	width: 100%;
}
.col-md-3 {
	padding-left: 0;
}
.bins {
	width: 25%;
}
.quicklinks {
	width: 20%;
}
.endservice {
	width: 30%;
}
.stayin {
	width: 25%;
}
.footer-logo {
	width: 25%;
}
.footer-logo img {
	width: 100%;
}
.main-11 h3 {
	font-size: 15px;
	font-weight: bold;
}
#fname {
	width: 49%;
	padding: 7px 5px;
	border-radius: 5px;
	border: none;
	font-size: 13px;
}
.form-1 {
	display: flex;
	justify-content: space-around;
}
input {
	width: 99%;
	padding: 7px 5px;
	border-radius: 5px;
	
}
.sub {
	width: 100%;
	margin-top: 10px;
}
.bins p {
	color: white;
	font-size: 13px;
	margin-top: 10px;
}
.quicklinks h3 {
	color: #ea0a2a;
}
.endservice h3 {
	color: #ea0a2a;
}
.stayin h3 {
	color: #ea0a2a;
}
ul.endnav {
	padding-left: 0;
}
.quicklinks h3 {
	padding-left: 40px;
}
ul.endnav li a:hover {
	text-decoration: none;
	color: #ea0a2a;
}
ul.endnav li a {
	color: white;
	font-size: 15px;
}
ul.quick li a:hover {
	color: #ea0a2a;
	text-decoration: none;
}
.sub input {
	background: #ea0a2a;
	color: white;
	font-size: 13px;
	border: 1px solid white;
}
ul.quick li a {
	color: white;
	font-size: 15px;
}
ul.quick li a:hover {
	text-decoration: none;

}
.main-11 .row {
	display: flex;
	padding-top: 60px;
	padding-bottom: 40px;
}
.endnav span {
	color: #ea0a2a;
}
.quick span {
	color: #ea0a2a;
}

.slider-nav .slick-slide img {
	opacity: 0.4;
}
.slider-nav  .slick-current img {
	opacity: 1;
	transform: scale(1.2);
}
.slider-nav  .slick-current img:hover{
	border-radius: 8px;
}



.item-1 img {
	width: 88%;
	height: 130px;
    object-fit: cover;
}

.item {
	width: 100% !important;
	text-align: center;
	margin-top: 30px;
	line-height: 20px;
}
.item img {
	width: 7%;
}
.item h1{
	font-size: 21px;
	color: #525151;
	text-transform: uppercase;
}
.item h2{
	font-size: 18px;
	color: #858585;
}
.item-1 {
	margin-top: 50px;
}
.item p{
	font-size: 14px;
	color: #858585;
}
.slider-nav.slick-initialized.slick-slider {
	padding-left: 22px;
}

.navbar-dark .navbar-nav .nav-link {
	color: white !important;
	padding: 17px 11px !important;
}
ul.sub-nav {
	display: none;
	margin-top: 0px !important;
	position: absolute;
}



	






ul.navbar-nav.nav {
	margin: 0;
}
.navbar {
	padding: 0 !important;
}
ul.navbar-nav a:hover {
	background:#ea0a2a ;
}






@media only screen and (max-width: 1199px) {
	.col-sm-2.contact-1 h6::before {
		left: -9px;
		top: 3px;
		font-size: 25px;
		
	}
	.col-sm-2.contact-2 h6 {
		font-size: 15px !important;
	}
    .col-sm-2.contact-1 h6 {
		font-size: 15px !important;
	}
    .col-sm-2.contact-2 h6::before {
		
		left: -9px;
		top: 3px;
		font-size: 25px;
		
	}
	.col-sm-2.contact-1 li {
		font-size: 11px;
		
	}
	.col-sm-2.contact-2 li a {
		font-size: 11px;
	}
	.col-sm-3.contact-3 h6 {
		font-size: 15px !important;
	}
	.col-sm-3.contact-3 li a {
		font-size: 11px;
	}
	.col-sm-2.contact-4 li a {
		font-size: 11px;
	}
	.col-sm-2.contact-4 h6 {
		font-size: 15px !important;
	}
	.col-sm-3.contact-3 h6::before {
		left: -9px;
		top: 3px;
		font-size: 25px;
		
	}
	.col-sm-2.contact-4 h6::before {
	
		left: -9px;
		top: 3px;
		font-size: 25px;
		
	}
	ul.navbar-nav.nav li a {
		font-size: 14px;
	}
	.nav li:hover ul {
	
		padding: -1px 9px;
		
		margin-top: 1px;
		
		width: 107px;
	}
	.navbar-dark .navbar-nav .nav-link {
		
		padding: 18px 11px !important;
	}
	#collapsibleNavbar {
		padding: 0px 6px;
	}
	.col-md-6.left h1 {
		font-size: 53px;
		
	}
	.col-md-8.center {
		
		top: 493px;
	
	}
	.spacing h2 {
		font-size: 19px;
	}
	.plan-center .button {
		margin-top: 13px;
		padding-left: 12px;
	
	}
	.plan-center-1 .spacing h2 {
		font-size: 15px;
	}
	.plan-center-1 .spacing h4{
		font-size: 19px;
	}
	.plan-center-1 .button {
		margin-top: 13px;
		padding-left: 12px;
	
	}
	
	
	
}
@media  screen and (max-width: 1024px) {
.container {
	max-width: 100% !important;
	
	
}
.col-md-8.center {
	top: -28px;
	position: relative;
}
.col-md-8.eco h5 {
	font-size: 19px;
}
.col-md-8.eco p {
font-size: 14px;
}
.col-md-6.map img {
	height: 470px;
}
.col-md-6.area {
	padding-top: 55px;
}
.bins {
	padding-left: 10px;
}
.stayin {
	padding-right: 10px;
}
}
@media only screen and (max-width: 991px) {


	.col-md-8.center {
		top: -17px;
		position: relative;
	}
	.col-md-8.eco p {
		font-size: 14px;
	}
	.col-md-8.eco h5 {
		font-size: 19px;
	}
	.slick-inner img {
		
		height: 320px;
	}
	
	.col-md-3.logo img {
		width: 85%;
		object-fit: cover;
	}
	.slick-inner {
		padding-left: 20px;
	}
	.slider-inner {
		padding-left: 15px;
		margin-right: 6px;
	}
	.slick-prev::before {
		font-size: 56px;
		left: 13px;
	}
	.slick-next::before {
	    font-size: 56px;
		left: -21px;
	}
	.main-8 .row {
		justify-content: space-around;
	}
	
	.nav li:hover ul {
		padding: -1px 9px !important;
		width: 108px;
	}
	
	
}



@media screen and (max-width: 870px) {
	
	
	
	
	.navbar-dark .navbar-nav .nav-link {
		padding: 18px 10px !important;
	}
    .nav li:hover ul {
	    width: 97px !important;
	}
	.col-md-6.left h1 {
		font-size: 47px !important;
		
	}
	.col-md-8.center {
		top: 24px;
	}
	
	.col-sm-2.contact-2 h6 {
		font-size: 13px !important;
	}
	.col-sm-3.contact-3 h6 {
		font-size: 13px !important;
	}
	.col-sm-2.contact-4 h6 {
		font-size: 13px !important;
	}
	.col-sm-2.contact-2 li a {
		font-size: 10px;
	}
	.col-sm-3.contact-3 li a {
		font-size: 10px;
	}
	.col-sm-2.contact-4 li a {
		font-size: 10px;
	}
	.col-md-8.eco h5 {
		font-size: 16px;
	}
	.col-md-8.eco p {
		font-size: 12px;
	}



	.plan-center-1 .spacing h2 {
		font-size: 13px;
	}
	.plan-center-1 .spacing h4{
		font-size: 17px;
	}
	.plan-center .button {
		margin-top: 13px;
		padding-left: 10px;
	}
	
	.plan-center-1 .button {
		margin-top: 13px;
		padding-left: 10px;
	}
	.plan-center .btn-plan {
		padding: 9px 7px;
	}
	.plan-center-1 .btn-plan {
		
		padding: 9px 7px;
		
	}
	.spacing h2 {
		font-size: 17px;
	}
	.main-8 .row {
		justify-content: space-around;
	}
	ul.quick li a {
		font-size: 14px;
	}
	ul.endnav li a {
		font-size: 14px;
	}	
	#fname {
		width: 48%;
		padding: 6px 5px;
		font-size: 11px;
	}
	ul.endnav {
		margin-top: 16px;
	}
	ul.quick {
		margin-top: 16px;
	}
	.sub {
		width: 99%;
	
	}
	.col-md-6.area {
		padding-top: 30px;
	}
	.col-md-6.area p {
		
		font-size: 15px;
	}
	.col-md-9.email a {
	
		font-size: 15px;
	}
	.col-md-9.king a {
	
		font-size: 15px;
	}
	.col-md-9.time a {
	
		font-size: 15px;
	}
	.col-md-9.call h6 {
		
		font-size: 14px;
	}
    .col-md-9.email h6{
		font-size: 14px;
	}
	.col-md-9.king h6{
		font-size: 14px;
	}
	.col-md-9.time h6 {
		font-size: 14px;
	}
	.col-md-6.area h1 {
		font-size: 33px;
	}
	.col-md-9.email::before {
	    left: 2px;
		font-size: 25px;
		color: #ea0a2a;
	}
	.col-md-9.call::before{
		left: 2px;
		font-size: 25px;
		color: #ea0a2a;
	}
	
.col-md-9.king::before{
	    left: 2px;
	    font-size: 25px;
	    color: #ea0a2a;

}
.col-md-9.time::before {
	    left: 2px;
	    font-size: 25px;
	    color: #ea0a2a;
}
.col-md-6.map img {
	height: 440px;
}

}

@media only screen and (max-width: 767px) {
	.nav li:hover ul {
		padding: 0 121px;
		width: 99px;
	}


.top-header {
	display: flex !important;
	width: 100%;
	
}
.col-sm-2.contact-1 h6 {
	padding-left: 0;
}
.col-sm-2.contact-1 li {
	padding: 0;
}
.col-sm-2.contact-2 h6 {
	padding-left: 0;
}
.col-sm-2.contact-2 li {
	padding-left: 0;
}
.col-sm-3.contact-3 h6 {
	padding-left: 0;
}
.col-sm-3.contact-3 li {
	padding-left: 0;
}
.col-sm-2.contact-4 h6 {
	padding-left: 0;
}
.col-sm-2.contact-4 li {
	padding-left: 0;
}
.col-sm-2.contact-2 h6::before {
	
	display: none;
}
.col-sm-2.contact-1 h6::before {
	
	display: none;
}
.col-sm-3.contact-3 h6::before {
	
	display: none;
}
.col-sm-2.contact-4 h6::before {

	display: none;
}
.col-md-8.center {
	top: -7px;
}
.main-4 .row {
	display: flex;
	flex-wrap: unset;
}
.plan-center .btn-plan {
	padding: 5px 3px;
}
.plan-center-1 .btn-plan {
	padding: 5px 3px;
}
.plan-center {
	
	height: 120px;

}
.plan-center-1 {
	
	height: 120px;

}
.plan-center-1 .spacing h4 {
	font-size: 15px;
}
.plan-center .spacing h4 {
	font-size: 15px;
}
.main-11{
	margin-top: 20px;
}
.col-md-6.area {
	padding-left: 60px;
}
ul.endnav li a {
	font-size: 12px;
}
ul.quick li a {
	font-size: 12px;
}
.bins p {
    font-size: 12px;
}
.col-sm-3.contact-3 {
	padding: 0;
}




}



@media only screen and (max-width: 600px) {
	ul.endnav li a {
		font-size: 12px;
	}
	ul.quick li a {
		font-size: 12px;
	}

	.top-header {
		display: none !important;
	}

    .main-9{
		margin: 0 !important;
	}
	.col-md-8.slid p {
		
		font-size: 13px;
	}
	.col-md-8.slid p {
	
		font-size: 13px;
	}
	.slick-inner img {
		height: 195px;
	}
	.col-md-8.slid h1 {
		font-size: 32px;
	}
	.slick-slide img {
	height: 160px;
	}
	.plan {
		width: 100%;
	}
	.plan-center .spacing {
		padding-left: 110px;
	}
	.plan-center-1 .spacing {
		padding-left: 110px;
	}
	.plan-center .btn-plan {
		margin-left: 86px;
	}
	.btn-plan {
		margin-left: 86px;
	}
	.col-md-10.activ h1 {
		font-size: 21px;
	}
	.main-7 {
		margin-top: 100px;
	
	}
	.client {
		margin-top: 50px;
	}
	.item img {
		height: 11px;
	}
	ul.quick {
		margin-top: 16px;
		padding-left: 0;
		display: flex;
	}
	.bins {
		padding-left: 10px;
		width: 100%;
	}
	.main-11 .row {
		display: block;
	
	}
	.quicklinks {
		width: 100%;
	}
	ul.quick li a {
		padding: 0 44px;
	}
	.endservice {
		width: 100% !important;
		text-align: center;
	}
	.stayin {
		width: 100%;
		text-align: center;
	}
	#fname {
		width: 49%;
		font-size: 11px;
		text-align: center;
		margin-left: 5px;
	}
	.sub {
		width: 100% !important;
		margin-left: 3px;
	}
	.slider-nav .slick-slide img {
		height: 100px;
	}
	.col-md-8.center {
		top: 38px;
	}
	.bins p {
		
		margin-left: -4px;
	}
	.footer-logo {
		width: 100%;
		text-align: center;
	}
	.footer-logo img {
		width: 18%;
	}
	


    


}
@media only screen and (max-width: 375px) {
	.navbar-toggler {
		display: contents;
	}
    .col-md-6.left h1 {
		font-size: 32px !important;
	}
	.col-md-6.left {
		margin-top: 110px;
	}
	.banner {
	    height: 470px;
	
	}
	.col-md-6.left p {
		font-size: 13px;
	}
	ul.navbar-nav li a {
		font-size: 13px !important;
		line-height: 10px;
	}
    .col-md-8.eco h5 {
		font-size: 13px !important;
	}
    .col-md-8.eco p {
		font-size: 12px !important;
		line-height: 17px;
	}
	.slick-slide img {
		height: 100px;
	}
	.slider-inner {
		padding-left: 13px;
		margin-right: 7px;
	}
	.slick-inner {
	
		margin-right: 12px;
	}
	.slider-nav .slick-slide img {
		height: 60px;
	}
	.slick-next {
		right: -61px;
	}
	.slick-prev::before {
	
		left: -68px;
	}
	.slick-dots li button::before {
		font-family: 'slick';
		font-size: 36px;
		line-height: 20px;
		position: absolute;
		top: 15px;
		left: -5px !important;
		width: 43px;
		height: 48px;
		content: '•';
		text-align: center;
		opacity: 9;
		color: #d0b2b2;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.slick-dots li.slick-active button::before {
		opacity: .75;
		color: #d0b2b2;
	}
	.plan-center .spacing {
		padding-left: 15px;
	}
	.plan-center-1 .spacing h2 {
		font-size: 12px;
	}
	.plan-center-1 .spacing {
		padding-left: 15px;
	}
	.plan-center-1 {
		padding-top: 32px;
	}
	.plan-center {
	    padding-top: 33px;
	
	}
	.item img {
		height: 5px;
	}
	ul.win {
		display: flex;
		justify-content: space-around;
		padding: 0px !important;
		font-size: 13px;
	}
	.col-md-10.activ h1 {
		font-size: 15px;
	}
	.col-md-10.activ p {
		font-size: 13px;
	
	}
	.item h1 {
		font-size: 17px;
	
	}
	.item h2 {
		font-size: 13px;
		
	}
	.item p {
		font-size: 12px;
	
	}
	.col-md-6.area h1 {
		font-size: 25px;
	}
	.col-md-6.area p {
		font-size: 12px;
	}
	.col-md-9.email h6 {
		font-size: 13px;
	}
	.col-md-9.call h6 {
		font-size: 13px;
	}
	.col-md-9.king h6 {
		font-size: 13px;
	}
	.col-md-9.time h6 {
		font-size: 13px;
	}
	.col-md-9.email a {
		font-size: 14px;
	}
	.col-md-9.call a {
		font-size: 14px;
	}
	.col-md-9.king a {
		font-size: 14px;
	}
	.col-md-9.time a {
		font-size: 13px;
	}
	.col-md-6.map img {
		height: 350px;
	}
	.bins p {
		text-align: center;
	}
	ul.quick li a {
		padding: 0px;
	}
	ul.quick {
		padding: 0px;
		display: flex;
		justify-content: space-around;
	}
	form {
		padding-left: 5px;
	}
	.quicklinks h3 {
		padding-left: 15px;
	}
	.frist {
		font-size: 12px;
		padding: 7px 8px;
	
	}
	.col-md-8.read h6 {
		font-size: 12px;
	
	}
}

@media only screen and (max-width: 320px) {
	.nav-2 li a {
		color: white;
		font-size: 11px;
	}
	.frist {
		font-size: 12px;
		padding: 7px 8px;
	
	}
	.col-md-8.eco h5 {
		font-size: 11px !important;
	}
	.col-md-8.eco p {
		font-size: 12px !important;
	
	}
	.col-md-8.read h6 {
		font-size: 12px;
	
	}
	.col-md-8.slid h1 {
		font-size: 25px;
	}
	.col-md-8.slid p {
		font-size: 12px;
	}
	.slider-inner img {
		height: 80px;
	}
	.banner {
		height: 430px;
	}
	.slider-nav .slick-slide img {
		height: 50px;
	}
	.col-md-6.map img {
		height: 320px !important;
	}
	.col-md-6.area p {
		font-size: 10px !important;
	}
	.col-md-9.email h6 {
		font-size: 13px !important;
	}
	.col-md-9.call h6 {
		font-size: 13px;
	}
	.col-md-9.king h6 {
		font-size: 13px;
	}
	.col-md-9.time h6 {
		font-size: 13px;
	}
	.col-md-9.email a {
		font-size: 12px;
	}
	.col-md-9.call a {
		font-size: 12px;
	}
	.col-md-9.king a {
		font-size: 12px;
	}
	.col-md-9.time a {
		font-size: 12px;
	}
	.plan-center .btn-plan {
		margin-left: 60px;
	}
	.btn-plan {
		margin-left: 60px;
	}
	.col-md-6.left p {
		line-height: 15px;
	}
	ul.navbar-nav.nav li a {
		font-size: 13px !important;
	}
	.nav li:hover ul {
		line-height: 21px;
	}
}








