

@font-face {
    font-family: 'Myriad Pro';
    src: url('../font/MyriadPro-Regular.eot');
    src: local('../font/Myriad Pro Regular'), local('MyriadPro-Regular'),
        url('../font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/MyriadPro-Regular.woff2') format('woff2'),
        url('../font/MyriadPro-Regular.woff') format('woff'),
        url('../font/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body{
    margin: 0;
	font-family: 'Myriad Pro';
}
.main-1 {
	width: 100%;
	margin-top: 15px;
}
.container{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 100px;
	box-sizing: border-box;
}
.row {
	display: flex;
}
.logo {
	width: 40%;
}
.logo img {
	width: 100%;
}
.nav {
	width: 60%;
	text-align: right;
}
ul.dropdown li {
	display: inline;
}
ul.dropdown li a {
	padding: 0 10px;
    text-decoration: none;
    font-size: 22px;
    color: #35caf0;
}
.banner-inner {
	text-align: center;
	width: 100%;
}
.banner {
	width: 100%;
	background-image: url(../images/frist-banner-1.png);
	height: 600px;
	background-position: 20% 70%;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-top: 20px;
}
.banner-inner h1 {
	font-size: 50px;
}
.banner-inner span {
	color: #35caf0;
}
.designation {
	width: 100%;
	margin-top: 100px;
}
.container.one {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
    box-sizing: border-box;
}
.designation h1 {
	text-align: center;
	font-size: 80px;
	color: #3a5fa5;
}
.navigation {
	width: 100%;
}
.border {
	width: 100%;
	border: 2px solid gainsboro;
	border-top: none;
	border-radius: 19px 13px 20px 20px;
}
.dropdown-one {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid gainsboro;
}
ul.dropdown-one li {
	list-style: none;
	border-bottom: none !important;
	
}
.dropdown-one li:last-child {
	border-right: none;
}
.dropdown-one li:first-child {
	border-left: none;
}

ul.dropdown-one li a{
	text-decoration: none;
    color: #777777;
}

ul.dropdown-one li span {
	color: white;
}
ul.dropdown-one li {
	border: 2px solid gainsboro;
	border-radius: 12px 12px 0 0;
	width: 200px;
	text-align: center;
	padding: 20px 0;
}
li.active {
	background: #3a5fa5;
}
.preventaion {
	width: 100%;
}
.preventaion h2 {
	font-size: 28px;
	text-align: center;
    color: #35caf0;
}
.info {
	width: 40%;
	padding-left: 25px;
}
.info-1 {
	width: 40%;
}
.information {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
ul.link li a {
	font-size: 18px;
	text-decoration: none;
	color: #333333;
}
ul.link-1 li a {
	font-size: 18px;
	text-decoration: none;
	color: #333333;
}
ul.link li {
	list-style: none;
}
ul.link-1 li {
	list-style: none;
}
.fas.fa-arrow-right {
	color: #748ebf;
}
ul.link {
	line-height: 30px;
}
ul.link-1 {
	line-height: 30px;
}
.main-2 {
	width: 100%;
	overflow-x: hidden;
}
.gallery-1 {
	width: 50%;

}
.gallery-2 {
	width: 50%;
	padding-top: 200px;
	text-align: end;
}
.gallery-1 img {
	width: 100%;
}
.row-1 {
	width: 100%;
	display: flex;
}
.dropdown-one {
	padding: 0;
}
.gallery-2 h1 {
	font-size: 85px;
	margin: 0;
	color: #3a5fa5;
}
.more-1 {
	width: 100%;
	text-align: center;
	padding-left: 200px;
	margin-top: 15px;
}
.frist-1 {
	padding: 12px 33px;
	font-size: 20px;
	border-radius: 20px;
	border: none;
	color: white;
	background: #35caf0;
}
.main-3 {
	width: 100%;
}
.gallery-3 {
	width: 50%;
	padding-top: 200px;
}
.gallery-4 {
	width: 50%;
}
.gallery-4 img {
	width: 100%;
}
.gallery-3 h1 {
	font-size: 85px;
	padding-left: 30px;
	color: #3a5fa5;
	margin: 0;
}
.more-2 {
	width: 100%;
	padding-left: 30px;
	margin-top: 15px;
}
.fas.fa-angle-double-right {
	font-size: 15px;
}

.main-4 {
	width: 100%;
}
.row-2 {
	display: flex;
	justify-content: center;
}
.more-3 {
	width: 100%;
	text-align: end;
}
.center {
	width: 80%;
	text-align: center;
}
.share p {
	font-size: 36px;
}
.share span {
	color: #35caf0;
}
.logo-1 {
	width: 50%;
}
.logo-1 img {
	width: 100%;
}
ul.last-nav {
	padding: 0;
}
ul.last-nav li {
	list-style: none;
	line-height: 25px;
}
ul.last-nav li a {
	font-size: 18px;
	text-decoration: none;
	color: #333333;
}
.association {
	width: 50%;
}
.social {
	width: 50%;
}
.row-3 {
	display: flex;
}
ul.nav-social {
	margin: 0;
	display: flex;
	justify-content: end;
}
ul.nav-social li{
	list-style: none;
}
ul.nav-social li a {
	padding: 0 10px;
	font-size: 35px;
	color: #333333;
}

ul.nav-social-2 li {
	list-style: none;
}

ul.nav-social-2 {
	display: flex;
	justify-content: end;
}
ul.nav-social-2 li a {
	text-decoration: none;
	font-size: 25px;
	padding: 0 10px;
	color: #333333;
}
.fas.fa-envelope {
	font-size: 22px;
	
}
.fas.fa-phone {
	font-size: 22px;

}
.fab.fa-facebook-square {
	color: #3a5fa5;
}
.fab.fa-youtube-square {
	color: #3a5fa5;
}
.fas.fa-book-open {
	color: #3a5fa5;
}
footer {
	width: 100%;
	background-image: url(../images/Footer.png);
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 100px;
}
ul.last-nav li a span {
	color: #35caf0;
}








@media screen and (min-width: 1324px) {
	ul.dropdown li a {
		font-size: 20px;
	}
	.banner-inner h1 {
		font-size: 45px;
	}
	.designation h1 {
		font-size: 70px;
	}
	.gallery-2 h1 {
		font-size: 80px;
	}
	.more-1 {
		padding-left: 150px;

	}
	.gallery-3 h1 {
		padding-left: 65px;

	}
	.more-2 {
		padding-left: 65px;

	}
	.share p {
		font-size: 33px;
	}
	.logo-1 {
		width: 45%;
	}
	ul.nav-social-2 li a {
		font-size: 22px;
	}
	.logo-1 {
		width: 40%;
	}
	ul.nav-social li a {
		font-size: 30px;

	}
	ul.link-1 li a {
		font-size: 17px;
	}
	ul.link li a {
		font-size: 17px;
	}
}